<a href="https://colab.research.google.com/github/Aniketh821/Adv-prog/blob/master/Assignment_%20%203(29_05_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Question 1:
Create a function to find Factorial of a number using Recursion

In [0]:
def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    return n*factorial(n-1)
print(factorial(5))

120

#Question 2:
Create a function and display ‘n’ Fibonacci numbers using Recursion

In [1]:
def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = 10


if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

#Question 3:
Print sum of list of elements without using sum() function

In [0]:

list1=[1,2,3,4]
total=0
for i in range(0,len(list1)):
  total=total+list1[i]
print("sum of all elements in the list is:",total)

sum of all elements in the list is: 10

#Question 4:
print only even numbers from the list

In [0]:
list2=[4,5,6,7,8,9,10]
for num in list2:
  if num%2 == 0:
    print(num,end=" ")

4 6 8 10

#Question 5:
Write a Python program to get the smallest number from a list and display index of smallest element of the list

In [0]:
list=[10,3,67,34,2,56]
a=min(list)
print("smallest element is:",a)
print("the index of smallest element is:",list.index(a))

smallest element is: 2
the index of smallest element is: 4

#Question 6:
Write a Python function that checks whether a passed string is palindrome or not.

In [0]:
str=input("enter a string")

#Question 7:
Write a Python program to count the number of even and odd numbers from a series of numbers. 
Sample numbers : numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Output :
Number of even numbers : 4
Number of odd numbers : 5

In [0]:
list3=[2,3,4,5,6,7,8]
count=0
counts=0
for i in list3:
  if i%2 == 0:
    count+=1
  else:
    counts+=1
print("Number of even numbers:",count)
print("Number of odd numbers:",counts)

Number of even numbers: 4
Number of odd numbers: 3

#Question 8:
Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.
Expected Output : 0 1 2 4 5

In [0]:
for i in range(0,7):
  if (i==3 or i==6):
    continue
  else:
    print(i,end=" ")

0 1 2 4 5